@mixin icon( $value, $el:'before') {
	position: relative;
	&:before, &:after {
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		display: inline-block;
		position: absolute;
		color: $btn-color;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	@if $el == 'before' or $el == 'after' {
		&:#{$el} {

			@if $value == 'icon-arrow' {
				content: '\e900';
			}
			@if $value == 'icon-burger' {
				content: '\e901';
			}
			@if $value == 'icon-close' {
				content: '\e902';
			}
			@if $value == 'icon-plus' {
				content: '\e903';
			}

		}
	} @else {
		@warn '`#{$el}` is not a valid pseudo-element.';
	}

}


