/*
 * Application global variables.
*/

$gray-dark: #3c3c3c;
$gray: #555;
$gray-light: #999;
$gray-lighter: #eceeef;
$gray-lightest: #f7f7f9;
$white: #fff;
$black: #000;

$brand-primary: #df007e;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-inverse: $gray-dark;

$c-light-blue: #78c1ff;
$c-dark-blue: #1b8ae7;
$c-dark-blue2: #558fc0;

$link-color: $gray-light;
$navi-color: $gray-dark;
$navi-hover-color: $white;

/**
* DIMENSIONS
 */
$large-screen: 1400px;
$medium-screen: 1040px;
$small-screen: 810px;
$xsmall-screen: 624px;

$navi-width: 300px;

$teaser-height: 250px;
$teaser-height-medium: 192px;
$teaser-height-small: 145px;

$modal-content-max-width: 1030px;

$carousel-height: 600px;

/**
* FONTSIZES
 */

$base-font-size: 1rem;
$small-font-size: 0.8rem;
$xsmall-font-size: 0.7rem;
$teaser-font-size: 1.2rem;

/**
* FONTS
 */

$base-font-family: 'open-sans', sans-serif;
$headline-font-family: 'open-sans', sans-serif;

/**
* ANIMATIONS
 */

$base-transition: all .5s ease-out;
$translate-transition: translate .5s ease-out;

/**
* NEAT
 */

$custom-grid--no-margin: (
		columns: 12,
		gutter: 0,
);

/**
*Icons
 */

$btn-size: 47px;
$btn-top-padding: 0;
$btn-color: $white;
$icon-big-font-size: 2.6rem;
$icon-small-font-size: .9rem;

$small-icon-size: 20px;


